<footer class="footer">
    <!-- Option for user to inject custom html -->
    {{ if .Site.Params.CustomFooterHTML }}
    {{ .Site.Params.CustomFooterHTML | safeHTML }}
    {{ end }}

    {{ .Scratch.Set "footerText" "" }}

    {{ if (.Site.Params.Footer) }}

        {{ if and (eq .Kind "page") (.Date) }}
            {{ .Scratch.Add "footerText" (.Date | time.Format "2006") }}
        {{ else }}
            {{ .Scratch.Add "footerText" (time.Now | time.Format "2006") }}
        {{ end }}

        {{ if and (eq .Kind "page") (.Lastmod) (gt (time.Format "2006" .Lastmod) (time.Format "2006" .Date)) }}
            {{ .Scratch.Add "footerText" "-" }}
            {{ .Scratch.Add "footerText" (.Lastmod | time.Format "2006") }}
        {{ end }}

        {{ .Scratch.Add "footerText" " " }}
        {{ .Scratch.Add "footerText" .Site.Params.Footer }}

        {{ if and (eq .Kind "page") (.Site.Copyright) }}
            {{ .Scratch.Add "footerText" " " }}
            {{ .Scratch.Add "footerText" .Site.Copyright }}
        {{ end }}

    {{ end }}

    {{ if (gt (.Scratch.Get "footerText" | len) 0) }}
        <span>&copy; {{ .Scratch.Get "footerText" | markdownify }}</span>
    {{ end }}

    <span>
       <a>© 2020-2026 | SUstainable Material Management Extreme Events Reconnaissance (SUMMEER). All rights reserved.</a>
       <br>
       <a>SUMMEER is funded by the U.S. National Science Foundation and is part of the CONVERGE NHERI network.</a>
       
       <br>


        <div class="footer-logos">
            <a href="/about" target="_blank"></a>
                <img src="/images/SUMMEER_LOGO.png"
                alt="FSU" class="footer-logo"
                style="height:50px">
            </a>

            <a href="https://www.nsf.gov/" target="_blank">
                <img src="/images/NSF_Official_logo_CMYK.png"
                alt="FSU" class="footer-logo"
                style="height:50px">
            </a>
            <a href="https://converge.colorado.edu/" target="_blank">
                <img src="/projects/2021/05/Converge-Logo-NHERI-transparent_small.png"
                alt="FSU" class="footer-logo"
                style="height:50px">
            </a>

        </div>
    </span>
</footer>
